<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @denuncia_tipo.nombre %>
</p>


<%= link_to 'Edit', edit_denuncia_tipo_path(@denuncia_tipo) %> |
<%= link_to 'Back', denuncia_tipos_path %>
